@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"),local("SourceSansPro-Light"),url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"),local("SourceSansPro-Regular"),url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"),local("SourceSansPro-Semibold"),url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

iframe {
  top: 0;
  pointer-events: none;
}

header,
section,
footer,
aside,
menu,
nav {
  display: block;
}

input,
textarea:focus {
  outline: 0;
}

body,
input,
textarea {
  font: 100% "Source Sans Pro", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  font-size: 1em;
  background: #16161d;
  position: relative;
  overflow: hidden;
  color: #e9e9e9;
}

.slider-container {
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .slider-container {
    top: 3rem;
  }
}

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  margin-left: -100%;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.showing-about .slider {
  margin-left: 0;
}

.showing-theater .slider {
  margin-left: -200%;
}

.csstransforms3d .showing-about .slider {
  -webkit-transform: translate3d(33.3333%, 0, 0);
  transform: translate3d(33.3333%, 0, 0);
  margin-left: -100%;
}

.csstransforms3d .showing-theater .slider {
  -webkit-transform: translate3d(-33.3333%, 0, 0);
  transform: translate3d(-33.3333%, 0, 0);
  margin-left: -100%;
}

.page {
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 33.3333%;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.container {
  width: 60rem;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

@media (max-width: 58rem) {
  .container {
    width: 100%;
    max-width: 38rem;
  }
}

p {
  line-height: 1.7;
  padding: .5rem 0;
}

a {
  -webkit-transition: background 0.25s,color 0.25s,box-shadow 0.25s;
  transition: background 0.25s,color 0.25s,box-shadow 0.25s;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #3878ff;
}

i {
  display: inline-block;
  font: normal 4rem "icon";
  vertical-align: middle;
}

@font-face {
  font-family: 'icon';
  src: url("font/sosa-regular-webfont.woff") format("woff");
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 4.5rem;
  -webkit-transition: 0.5s,line-height 0;
  transition: 0.5s,line-height 0;
  text-align: center;
  background: #23232a;
  white-space: nowrap;
  overflow: hidden;
  color: #e9e9e9;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}

.button:hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background: #3878ff;
  color: white;
}

.button:active {
  background: #1743a1;
  -webkit-transition: 0;
  transition: 0;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.mini-toggle {
  display: inline-block;
  line-height: 3rem;
  padding: 0 1rem;
  background: #23232a;
  margin-right: 1rem;
  vertical-align: middle;
}

header .mini-toggle {
  line-height: 2.25rem;
  margin: 0 0 0 .5rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  z-index: 1000;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 4.5rem;
  -webkit-transition: box-shadow 0.75s;
  transition: box-shadow 0.75s;
  background: #16161d;
}

@media (max-width: 600px) {
  header {
    font-size: .9rem;
    height: 3rem;
  }
}

header .container {
  padding: 0;
}

header .container:after {
  display: block;
  width: 100%;
  clear: both;
}

.share {
  display: inline-block;
  font-size: .9rem;
  color: #e9e9e9;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  padding: 0 .75rem;
}

.share:first-of-type {
  padding-left: 1.5rem;
}

.share-button,
.count {
  display: inline-block;
  line-height: 1.75rem;
  padding: 0 .5rem;
  border-radius: 0.125rem;
  cursor: pointer;
}

.share-button {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  box-shadow: inset 0 1.75rem rgba(0,0,0,0);
}

.share-button i {
  font: 0.9rem/1.75rem "icon";
  padding-right: 0.3125rem;
  vertical-align: top;
}

.share-button:hover {
  box-shadow: inset 0 1.75rem rgba(0,0,0,0.25);
}

.share-button:active {
  box-shadow: inset 0 1.75rem rgba(0,0,0,0.5);
  -webkit-transition: 0;
  transition: 0;
}

.twitter-button {
  background: #00aced;
  color: #fff;
}

.facebook-button {
  background: #3b5998;
}

.googleplus-button {
  background: #d34836;
}

.count {
  position: relative;
  background: #e9e9e9;
  margin-left: 0.39063rem;
  font-weight: bold;
  color: #16161d;
}

.count:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 0.3125rem;
  height: 0.3125rem;
  -webkit-transform: translate(-0.15625rem, -0.15625rem) rotate(45deg);
  transform: translate(-0.15625rem, -0.15625rem) rotate(45deg);
  background: #e9e9e9;
}

.shadow {
  box-shadow: 0 0.25rem rgba(255,255,255,0.3);
}

header,
.showing-theater .shadow,
.showing-about .shadow {
  box-shadow: 0 0.25rem rgba(255,255,255,0);
}

.confirmation {
  line-height: 4.5rem;
}

.title {
  display: inline-block;
  line-height: 1rem;
  float: left;
  margin: 1.75rem 0;
  color: #e9e9e9;
}

@media (max-width: 600px) {
  .title {
    padding-left: 1rem;
    line-height: 3rem;
    margin: 0;
  }
}

.title:hover {
  color: white;
}

.profile-link {
  display: inline-block;
  float: right;
  padding: 0 1.5rem;
  -webkit-animation: dropit 0.75s 0.25s both;
  animation: dropit 0.75s 0.25s both;
  background: #16161d;
  -webkit-transition: 0.25s,margin-right 0;
  transition: 0.25s,margin-right 0;
  font-size: .9rem;
}

@media (max-width: 600px) {
  .profile-link {
    display: none;
  }
}

.profile-link .pic {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: .5rem;
  vertical-align: middle;
  border-radius: 0.125rem;
  background-size: cover;
}

.profile-link:hover {
  text-align: underline;
  background: #16161d;
}

.profile-link:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.toggle-theater,
.toggle-home,
.toggle-about {
  float: right;
  -webkit-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  margin-left: .5rem;
  width: 6.5rem;
}

@media (max-width: 600px) {
  .toggle-theater,
  .toggle-home,
  .toggle-about {
    width: 4.25rem;
    line-height: 3rem;
  }
}

.toggle-theater:active,
.toggle-home:active,
.toggle-about:active {
  -webkit-transform: none;
  transform: none;
}

.toggle-home {
  font: 1.25rem "icon";
  line-height: 4.5rem;
  width: 4.5rem;
  box-shadow: inset 0 0.25rem #3878ff;
}

.toggle-home:hover {
  background: #23232a;
}

.toggle-home:active {
  box-shadow: inset 0 0.25rem #1743a1;
  background: #1743a1;
}

.showing-about .toggle-home,
.showing-theater .toggle-home {
  box-shadow: inset 0 0 #3878ff;
  color: #e9e9e9;
  background: #23232a;
}

.showing-about .toggle-home:hover,
.showing-theater .toggle-home:hover {
  background: #3878ff;
}

.showing-about .toggle-home:active,
.showing-theater .toggle-home:active {
  background: #1743a1;
}

@media (max-width: 600px) {
  .toggle-home {
    width: 3rem;
    line-height: 3rem;
  }
}

.showing-theater .toggle-theater,
.showing-about .toggle-about {
  background: #3878ff;
  color: white;
}

.showing-theater .toggle-theater:active,
.showing-about .toggle-about:active {
  background: #1743a1;
  -webkit-transform: none;
  transform: none;
}

.main {
  visibility: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 0 .75rem;
}

@media (max-width: 58rem) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.go .main {
  visibility: visible;
}

.video-container {
  position: relative;
  z-index: 10;
  width: 26.66667rem;
  height: 20rem;
  background: black;
  background-size: 13.33333rem 10rem;
  -webkit-box-ordinal-group: -2;
  -webkit-order: -3;
  -ms-flex-order: -3;
  order: -3;
}

@media (max-width: 58rem) {
  .video-container {
    width: 100%;
    height: auto;
  }
}

.video-container video {
  width: 100%;
  height: auto;
}

.timelapse-previewing .feed {
  display: none;
}

@media (min-width: 58rem) {
  .bigscreen .video-container {
    width: 40rem;
    height: 30rem;
  }
}

.progress-indicator {
  position: absolute;
  background: #3878ff;
  opacity: .7;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
  -webkit-transition: height .2s;
  transition: height .2s;
}

.uploaded .progress-indicator {
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.preview-shot-container {
  position: absolute;
  top: 0;
  width: 26.66667rem;
  height: 20rem;
  left: 100%;
  -webkit-transform: perspective(1000) rotateY(90deg);
  transform: perspective(1000) rotateY(90deg);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  z-index: 100;
  pointer-events: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-size: cover;
}

.shot-previewing .preview-shot-container {
  -webkit-transform: perspective(1000);
  transform: perspective(1000);
}

.menu-container {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

menu,
form {
  position: absolute;
  top: .5rem;
  left: 1.5rem;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media (max-width: 58rem) {
  menu,
  form {
    padding: 0 0 1.5rem;
  }
}

.shot-previewing menu,
.shot-previewing form {
  -webkit-transition: 1.25s;
  transition: 1.25s;
  opacity: 0;
}

section {
  padding: 0 0 1rem;
  overflow: hidden;
}

@media (max-width: 600px) {
  section {
    padding: .5rem 0 0 1rem;
  }
}

section.collapse {
  height: 0;
  opacity: 0;
}

.capture-every {
  padding-top: 1.25rem;
}

form section {
  padding: 0;
}

form input,
form textarea {
  width: 100%;
}

form label {
  display: block;
  padding: 1.5rem 0 .5rem;
}

form label .required {
  color: tomato;
}

textarea,
input,
.static {
  display: block;
  background: #23232a;
  padding: .25rem;
  -webkit-transition: 0.25s,height 0;
  transition: 0.25s,height 0;
  border-radius: 0.25rem;
  color: #e9e9e9;
}

textarea {
  -webkit-box-flex: 3.5;
  -webkit-flex: 3.5;
  -ms-flex: 3.5;
  flex: 3.5;
  margin-bottom: 3rem;
  resize: none;
}

.mini,
.static {
  display: inline-block;
  font-size: 125%;
  padding: .25rem .5rem;
}

.mini {
  width: 2.5rem;
  text-align: center;
  margin: 0 .25rem;
  background: #23232a;
}

.static {
  background: #16161d;
}

.static:first-of-type {
  margin-left: 0;
}

.options-toggle {
  font: 1.25rem/2rem "icon";
  padding: 0 .5rem;
  float: right;
  margin: 0;
  padding: 0;
  width: 2rem;
}

.options-toggle:after {
  content: "V";
}

.show-options .options-toggle:after {
  content: "î";
}

.options {
  display: none;
}

.options .mini-toggle {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.options .mini-toggle:last-child {
  margin-right: 0;
}

.show-options .options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.recording .hd-toggle {
  background: transparent;
  color: gray;
  pointer-events: none;
}

.hd-toggle:after {
  content: "Switch to HD mode";
}

.recording .hd-toggle:after {
  content: "Standard recording";
}

.hd .hd-toggle:after {
  content: "Switch to default recording";
}

.recording.hd .hd-toggle:after {
  content: "Recording in HD";
}

.flash-toggle:after {
  content: "off";
}

.noflash .flash-toggle:after {
  content: "on";
}

.audio-toggle:after {
  content: "on";
}

.audio .audio-toggle:after {
  content: "off";
}

textarea:hover,
textarea:focus,
input:hover,
input:focus {
  background: #3a3a45;
}

.compile,
.start {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: .75rem;
}

@media (max-width: 58rem) {
  .compile,
  .start {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
    -ms-flex-order: -2;
    order: -2;
  }
}

.compile {
  display: none;
}

.recording .compile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.start:hover {
  background: #23232a;
}

.start:active {
  color: gray;
}

.start:active+.helper {
  opacity: 1;
  -webkit-transition: 0;
  transition: 0;
}

.webcam .start:hover {
  background: #3878ff;
}

.webcam .start:active {
  background: #1743a1;
  color: #e9e9e9;
}

.start:focus {
  outline: 0;
}

:not(.not-allowed).helper {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 11.25rem;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  z-index: 1200;
  background: -webkit-linear-gradient(90deg, transparent, #3878ff);
  background: linear-gradient(0deg, transparent,#3878ff);
  opacity: 0;
}

@media (max-width: 58rem) {
  :not(.not-allowed).helper {
    display: none;
  }
}

.youtube {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1rem 0;
}

.youtube:after {
  font-family: "icon";
  content: "Ĵ";
  font-size: 5em;
  vertical-align: middle;
}

.finished-button {
  line-height: 1rem;
  padding: 3rem 0 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.download,
.youtube-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  padding: 0;
  line-height: 4.5rem;
}

.goback {
  margin-right: .5rem;
}

.goback:before {
  content: "ó";
  font: 1rem "icon";
  padding: 0 .5rem;
}

.goback:after {
  content: "Back";
}

.uploading .goback:after {
  content: "";
}

.uploading .upload-button {
  -webkit-box-flex: 2.75;
  -webkit-flex: 2.75;
  -ms-flex: 2.75;
  flex: 2.75;
}

.download {
  margin-top: .5rem;
}

.shot-container {
  margin: 0.75rem 0 0 -0.325rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 60.75rem;
  -ms-flex: 1 0 60.75rem;
  flex: 1 0 60.75rem;
}

@media (max-width: 58rem) {
  .shot-container {
    padding: 0;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    pointer-events: none;
  }
}

.shot {
  display: inline-block;
  position: relative;
  width: 20%;
  -webkit-animation: newshot .8s;
  animation: newshot .8s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  padding: 0 .325rem;
}

@media (max-width: 58rem) {
  .shot {
    width: 25%;
  }

  .shot:nth-child(n+5) {
    display: none;
  }
}

.shot:hover {
  color: #e9e9e9;
}

.shot img {
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  width: 100%;
  height: auto;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

time {
  display: block;
  text-align: center;
  padding: .5rem;
}

@media (max-width: 58rem) {
  time {
    display: none;
  }
}

footer.container {
  font-size: 13px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: gray;
  padding: .75rem 0 3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 58rem) {
  footer.container {
    padding-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  footer.container {
    padding-left: 1rem;
  }
}

footer.container a {
  color: lightgray;
}

.theater,
.about {
  -webkit-transition: 0.75s;
  transition: 0.75s;
  border-top: 0.25rem solid #3878ff;
}

.theater .container {
  padding: 1.5rem 0;
}

.theater figure {
  float: left;
  width: 30rem;
  padding: 1rem;
  padding-top: 0;
}

@media (max-width: 58rem) {
  .theater figure {
    float: none;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .theater figure {
    width: 100%;
  }
}

.theater figcaption {
  min-height: 8rem;
  color: gray;
}

.theater a {
  color: white;
  line-height: 1.5;
}

.theater a:hover {
  color: #3878ff;
}

.timelapse {
  position: relative;
  background-size: cover;
  margin-bottom: 0.5rem;
  background: #0f0f14;
  padding-bottom: 75%;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.timelapse:not(.playing):active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  opacity: .8;
  -webkit-transition: 0;
  transition: 0;
}

.timelapse object,
.timelapse img {
  width: 100%;
  height: auto;
  position: absolute;
}

.timelapse img {
  z-index: 0;
  -webkit-animation: fade-in 0.75s 0.25s both;
  animation: fade-in 0.75s 0.25s both;
  opacity: 1;
  -webkit-user-drag: none;
  user-drag: none;
}

.timelapse:not(.playing):after {
  display: inline-block;
  content: attr(data-duration);
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  background: rgba(22,22,29,0.9);
  color: #dcdcdc;
  border-radius: 0.25rem;
}

.timelapse:not(.playing):hover:after {
  content: "Play " attr(data-duration);
}

.about {
  padding-bottom: 1.5rem;
}

.about div {
  overflow: hidden;
  padding-bottom: 1rem;
}

.about h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem 0 .25rem;
}

.about p {
  padding-bottom: 1rem;
  color: #cfcfcf;
}

.about p a {
  color: white;
  border-bottom: thin solid gray;
}

.about p a:hover {
  color: #3878ff;
  border-color: #3878ff;
}

.about p:after {
  display: block;
  clear: both;
  content: "";
}

.about img {
  float: left;
  margin: .5rem 1.5rem 1.5rem 0;
}

.about img.right {
  float: right;
  margin: 0 0 0 .5rem;
}

.flash {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-animation: flash 0.7s cubic-bezier(0, 0, 0, 1);
  animation: flash 0.7s cubic-bezier(0, 0, 0, 1);
  background: white;
}

@-webkit-keyframes flash {
  to {
    opacity: 0;
  }
}

@keyframes flash {
  to {
    opacity: 0;
  }
}

canvas,
.none {
  display: none;
}

.thumb {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  left: -2000px;
  opacity: 0;
}

.nosupport {
  padding: 1.5rem 0;
}

@media (max-width: 58rem) {
  .nosupport {
    padding: 1.5rem;
  }
}

.nosupport h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.download-browser {
  display: block;
  text-align: center;
  float: left;
  line-height: 4.5rem;
  background: #23232a;
  color: white;
  width: 16rem;
  margin: 0.5rem 1rem 0 0;
  margin-left: 0;
  border: 0.5rem solid #23232a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 58rem) {
  .download-browser {
    line-height: 3rem;
    border-width: medium;
    width: 100%;
    float: none;
  }
}

.supported {
  border-color: transparent;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.supported:hover {
  background: #3878ff;
  color: white;
}

.unsupported {
  background: transparent;
  color: #555;
}

.unsupported:hover {
  color: gray;
  cursor: default;
}

.emergency-mobile {
  position: absolute;
  top: 4.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: #16161d;
  z-index: 3000;
  display: none;
  padding: 1rem 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.showing-theater .emergency-mobile,
.showing-about .emergency-mobile {
  opacity: 0;
  pointer-events: none;
}

.emergency-mobile h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

@media (max-width: 58rem) {
  .emergency-mobile {
    display: block;
  }

  .devices-msg:after {
    content: " and mobile devices";
  }
}

@media (max-width: 600px) {
  .emergency-mobile {
    top: 3rem;
    padding: 1rem;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes dropit {
  from {
    -webkit-transform: translate3d(0, -4.5rem, 0);
    transform: translate3d(0, -4.5rem, 0);
  }
}

@keyframes dropit {
  from {
    -webkit-transform: translate3d(0, -4.5rem, 0);
    transform: translate3d(0, -4.5rem, 0);
  }
}

@-webkit-keyframes newshot {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }

  40% {
    -webkit-transform: translateY(0.375rem);
    transform: translateY(0.375rem);
  }

  75% {
    -webkit-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem);
  }
}

@keyframes newshot {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }

  40% {
    -webkit-transform: translateY(0.375rem);
    transform: translateY(0.375rem);
  }

  75% {
    -webkit-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem);
  }
}
